
/* Box Sizing/Body */

* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: Lato, sans-serif;
}

body {
    background-color: #2F323A;
}

/* Text */

h2 {
    display: block;
    font-size: 4rem;
    font-weight: 700;
    margin: 0.75rem;
}

h3 {
    display: block;
    font-size: 1.5rem;
}


/* Nav */

.top
  {
    overflow: hidden;
    background-color: rgb(38, 38, 38);
}

.topnav a{
    float: center;
    display: block;
    color: rgb(247, 191, 191);
    text-align: center;
    padding: 14px;
    text-decoration: none;

}

.content {
    padding: 16 px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}

/* Website Hero */

#hero {
    display: flex;
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-image: url('../img/hero_flowers.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

hero-banner {
    text-align: center;
    background-color: #c47ac0c5;
    color: #ffffff;
    width: 100%;
    padding: 3rem 0;
}