
/* Box Sizing/Body */

* {
    box-sizing: border-box;
}

html {
    font-size: 12px;
    font-family: Lato, sans-serif;
    color: #F4F4F6;
}

body {
    background-color: #2F323A;
}

/* Text */

h2 {
    display: block;
    font-size: 3rem;
    font-weight: 700;
    margin: 0.75rem;
}

h3 {
    display: block;
    margin: 0.75rem;
    font-size: 1.5rem;
}

h4 {
    display: block;
    margin: 0.75rem;
}

a { 
    color: #F4F4F6;
}

a:hover { 
    text-decoration: none;
}

p {
    font-size: 1.3rem;
    line-height: 1.1;
    margin: 0.75rem;
}

strong {
    font-weight: 700;
}

/* Nav */

#logo {
    font-family: 'Dancing Script', cursive;
    text-shadow: 0.2rem 0.3rem 0.5rem #000000;
    font-size: 2.5rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

nav > ul > li {
    display: inline;
}

nav a {
    text-align: center;
    color: #F4F4F6;
    font-size: 1.5rem;
    padding: 1.16rem;
    text-decoration: none;
    transition: color 0.1s ease-out;
}

nav a:hover {
    color: #DEBAC0;
    transition: color 0.1s ease-in;
}

.active {
    background-color: #C47AC0;
    border-radius: 1.2rem;
}

.active:hover {
    color: #2F323A;
    background-color: #DEBAC0;
}

/* Website Hero */

#hero {
    display: flex;
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 1.5rem;
    background-image: url('../img/hero_flowers.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

hero-banner {
    text-align: center;
    background-color: #c47ac0c5;
    width: 100%;
    padding: 3rem 0;
}

/* Main Content */

main {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin: 10rem 0;
}

floral-display {
    display: flex;
    justify-content: space-around;
    height: 25rem;
}

floral-item {
    display: flex;
    flex-basis: 20%;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    text-shadow: 0.2rem 0.3rem 0.3rem #000000;
    transition: flex-basis 0.6s cubic-bezier(0.33, 1, 0.68, 1);
}

floral-item:hover {
    flex-basis: 30%;
    cursor: pointer;
    transition: flex-basis 0.6s cubic-bezier(0.32, 0, 0.67, 0);
}

#roses {
    background-image: url('../img/roses.jpg');
    border-radius: 1.5rem 0 0 1.5rem;
}

#daisies {
    background-image: url('../img/daisies.jpg');
}

#tulips {
    background-image: url('../img/tulips.jpg');
    background-position: left;
}

#carnations {
    background-image: url('../img/carnation.jpg');
    background-position: center;
}

#poppies {
    background-image: url('../img/poppy.jpg');
    border-radius: 0 1.5rem 1.5rem 0;
}

#licenses {
    margin: 0 0 10rem 0;
}

license-item > h3 {
    margin: 2rem 0.75rem 0 0.75rem;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 2em auto;
    border-top: 1px solid #F4F4F6;
    padding-top: 2em;
}

footer img {
    height: 5rem;
}

footer a {
    color: #F4F4F6;
}

footer a:hover {
    text-decoration: none;
}